node_modules
__pycache__/
*.py[cod]
*.DS_Store
result scripts/plots/
result scripts/data/*.csv
result scripts/data/*.tex
result scripts/data/experiment_results_with_metrics*.xlsx
~$*.xlsx
**/references.csv

# Virtual environments
venv/
.venv/
env/
.env/
xnlp/
