Flask==3.1.0
flask-cors==5.0.1
Flask-Login==0.6.3
Flask-PyMongo==3.0.1
python-dotenv==1.0.1
cryptography==44.0.2
pymongo==4.11.2
requests==2.32.3
openai==1.66.2
groq==0.20.0
langchain==0.3.26
langchain-core==0.3.66
langchain-community==0.3.26
datasets==3.4.0
transformers==4.49.0
torch==2.2.2
scikit-learn==1.6.1
scipy==1.15.2
numpy==1.26.4
pandas==2.2.3
shap==0.47.0
tqdm==4.67.1
openpyxl==3.1.5
gunicorn==21.2.0
matplotlib==3.10.0
